page-login {
    .item {
        padding-left: 0 !important;
    }
    .alert-ios .alert-button {
        color: orange !important;
    }
}

.toolbar-background {
    border-color: orange;
    background: orange;
}

.bar-button-default,
.toolbar-title {
    color: #fff;
}

.primeBtn {
    height: 2.2em;
    background-color: orange;
}

.secondBtn {
    height: 2.2em;
    background-color: #776a53;
}

.item-ios.item-block .item-inner {
    border-bottom: 1.55px solid orange !important;
}