page-login {
    input {
        color: orange;
    }
    .item {
        padding-left: 0 !important;
    }
}

.toolbar-background {
    border-color: orange;
    background: orange;
}

.bar-button-default,
.toolbar-title {
    color: #fff;
}

.button {
    height: 2.2em;
    background-color: orange;
}